
.vs/StreamHighlightsClipper/v16/.suo
*.txt
StreamHighlightsClipper/bin/Debug/config.txt
StreamHighlightsClipper/bin/Debug/config.txt
StreamHighlightsClipper/bin/Debug/stream_highlights.txt
StreamHighlightsClipper/bin/Debug/StreamHighlightsClipper.exe
StreamHighlightsClipper/bin/Debug/StreamHighlightsClipper.pdb
StreamHighlightsClipper/bin/Release/MediaToolkit.dll
StreamHighlightsClipper/bin/Release/StreamHighlightsClipper.exe
StreamHighlightsClipper/bin/Release/StreamHighlightsClipper.pdb
StreamHighlightsClipper/config.txt
StreamHighlightsClipper/obj/Debug/StreamHighlightsClipper.csproj.CoreCompileInputs.cache
StreamHighlightsClipper/obj/Debug/StreamHighlightsClipper.csproj.FileListAbsolute.txt
StreamHighlightsClipper/obj/Debug/StreamHighlightsClipper.csprojAssemblyReference.cache
StreamHighlightsClipper/obj/Debug/StreamHighlightsClipper.exe
StreamHighlightsClipper/obj/Debug/StreamHighlightsClipper.pdb
StreamHighlightsClipper/obj/Release/StreamHighlightsClipper.exe
StreamHighlightsClipper/obj/Release/StreamHighlightsClipper.pdb
StreamHighlightsClipper/stream_highlights.txt
